# Compiler files
cache/
out/
forge-cache/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

.history/

.DS_Store

**/node_modules/
.vscode/

# Coverage report
report/
lcov.info
coverage.txt
