[profile.default]
solc = "0.8.25"
via_ir = true
src = "src"
out = "out"
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./" }]
gas_reports = ["*"]
optimizer = true
optimizer_runs = 1000

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

remappings = [
    '@openzeppelin/contracts/=lib/openzeppelin-contracts-upgradeable/lib/openzeppelin-contracts/contracts/',
    '@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/',
    '@symbiotic/=lib/core/src/',
    '@symbiotic-rewards=lib/rewards/src/',
    '@symbiotic-collateral=lib/collateral/src/',
    '@symbiotic-middleware/=lib/middleware-sdk/src/',
    '@tanssi-bridge-relayer/=lib/tanssi-bridge-relayer/',
    "@chainlink/=lib/chainlink-brownie-contracts/contracts/src/v0.8/",
    # These are for snowbridge. Needs to emulate their remappings.
    'openzeppelin-contracts/=lib/openzeppelin-contracts/',
    'openzeppelin/=lib/openzeppelin-contracts/contracts/',
    'prb/math/=lib/prb-math/',
]

[rpc_endpoints]
mainnet = "${ETH_RPC_URL}"

[fmt]
bracket_spacing = false
int_types = "long"
line_length = 120
multiline_func_header = "params_first"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4

[fuzz]
runs = 4096
max_test_rejects = 262144

# [etherscan]
# mainnet = { key = "${ETHERSCAN_API_KEY}" }
# holesky = { key = "${ETHERSCAN_API_KEY}" }
